<app-new-room></app-new-room>
<app-join-room></app-join-room>

<nav class="navbar bg-dark navbar-expand-lg" style="height: 5vh;" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Planning Poker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav home-link">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#newRoomModal">New Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#joinRoomModal">Join Room</a>
                </li>
            </ul>
        </div>
    </div>
</nav>